# Zig
.zig-cache/
.zigmod/
zig-out/

# OBJ
*.dll
*.dylib
*.exe
*.exp
*.lib
*.o
*.obj
*.pdb
*.so
*.d

# MODEL/DATA
*.bin
*.ckpt
*.gguf
*.pth
*.safetensors
models/

# IDE
.claude/
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swo
*.swp
*~

# CodeArts
.arts/
.codeartsdoer/

# OS
.$RECYCLE.BIN/
.AppleDouble
.DS_Store
._*
.directory
Desktop.ini
ehthumbs.db
Thumbs.db
.test
